.box{
    background-color: #f5f5fa;
    width: 86%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    position: fixed;
    right: 0px;
}
.env_title{
    height: 40px;
    line-height: 40px;
    font-size: 15px;
}
.env{
    width: 700px;
    height: 500px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
}
.region_1{
    width: 390px;
    height: 240px;
    background-color: #63afb7ee;
    float: left;
    border-radius: 20px;
    box-shadow:  0px 6px 10px rgba(0,0,0,0.4),inset 0px 6px 10px rgba(255,255,255,0.3);
}
.region_2{
    width: 300px;
    height: 240px;
    background-color: #63afb7ee;
    float: left;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.4),inset 0px 6px 10px rgba(255,255,255,0.3);

}
.region_3{
    width: 220px;
    height: 250px;
    background-color: #63afb7ee;
    float: left;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.4),inset 0px 6px 10px rgba(255,255,255,0.3);

}
.region_4{
    width: 470px;
    height: 250px;
    background-color: #63afb7ee;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0,0,0,0.4),inset 0px 6px 10px rgba(255,255,255,0.3);

}
.region{
    transition: all .5s;
    cursor: pointer;
    color:white;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
}
.region_title{
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin:auto;
}
.region:hover{
    background-color: #63afb7;
    transform: scale(1.02);
    z-index: 10;
}
.check_box{
    width: 120px;
    height: 15px;
    margin-top: 4px;
    position: relative;
}
.check_title{
    width: 30px;
    height: 15px;
    float: left;
    line-height: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #4a868d;
}
.check{
    width: 90px;
    height: 15px;
    border: 2px solid #4a868d;
    float: left;
    border-radius: 7px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

}
.check_num{
    width: 50%;
    height: 11px;
    line-height: 11px;
    font-size: 10px;
    text-align: center;
    transition: width .2s;
}

.check_tmp{
    background-color: rgb(85, 165, 85);
}
.check_hum{
    background-color: rgb(97, 97, 238);
}
.check_sun{
    background-color: rgb(185, 185, 112);
}
.check_value{
    position: absolute;
    display: block;
    width: 30px;
    text-align: center;
    height: 11px;
    line-height: 11px;
    left: 0px;
    right: 0px;
    margin: auto;
    font-size: 10px;
    color: rgba(255,255,255,0.7);
}
.check_result{
    position: absolute;
    display: block;
    width: 5px;
    text-align: center;
    height: 5px;
    line-height: 11px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: -10px;
    font-size: 10px;
    border-radius: 50%;
}
.check_result_warning{
    animation: warning 1s ease infinite;
}
@keyframes warning{
    0%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.8);
    }
}

.detail{
    position: absolute;
    width: 900px;
    height: 600px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background-color: white;
    z-index: 11;
    border-radius: 20px;
    box-shadow: 0px 10px 50px rgb(220,220,220);
    transition: all .2s;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.detail-enter,.detail-leave-to{
    transform: scale(0.2);
    opacity: 0;
}
.detail_title{
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
.detail_ul{
    width: 100%;
    height: 95px;
    margin-top: 10px;
}
.detail_ul_title{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}
.detail_ul li{
    width: 18%;
    margin-left: 2.5%;
    float: left;
    height: 95px;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 8px;
}
.detail_ul li:first-child{
    margin-left: 0px;
}
.detail_ul li p{
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 13px;
}
.detail_ul li p:first-child{
    font-size: 15px;
    font-weight: bold;
}
.detail_chart{
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.num_chart{
    width: 32%;
    height: 300px;
    float: left;
    margin-left: 2%;
}
.num_chart:first-child{
    margin-left: 0px;
}
.chart{
    width: 100%;
    height: 200px;
}
.num_control{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
}
.control_title{
    height: 40px;
    line-height: 40px;
    margin-left: 5%;
    text-align: center;
}
.control{
    width: 70%;
    height: 40px;
    margin-left: 15%;
}
.control_last,.control_next{
    width: 20%;
    height: 35px;
    float: left;
    margin-left: 5%;
    line-height: 35px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 15px;
    font-weight: bold;
    transition: background-color .2s;
}
.control_last{
    background-color: #d56769ee;

}
.control_next{
    background-color: #9ac5afee;
}
.control_last:hover{
    background-color: #d56769ff;
}
.control_next:hover{
    background-color: #9ac5afff;
}
.control_value{
    width: 45%;
    height: 35px;
    float: left;
    margin-left: 5%;
}
.control_value_input{
    width: 70%;
    height: 35px;
    border: 1px solid rgb(200,200,200);
    outline: none;
    border-radius: 5px;
    text-align: center;
    float: left;
    box-sizing: border-box;
}
.control_value_unit{
    display: block;
    width: 30%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    float: left;
}